<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile page</title>
</head>

<body>
    <%- include('common/header')%>
    <h1>This page rendered with the help of the Profile page</h1>
    <!-- Here, we are taking the dynamic data -->
    <h2>Welcome <%= user.name %>
    </h2>
    <h2>Email: <%= user.email %>
    </h2>
    <h2>City: <%= user.city%>
    </h2>
    <ul>
        <% user.skills.forEach((item)=>{ %> <!--Here, <% %> is used for just definint the value-->
            <li><%= item %></li> <!--Here, <%= %> is used to print out the value-->
            <% }) %>
    </ul>
</body>

</html>